/* Empty. Add your own CSS if you like */

.bar-header {
    border-bottom-width: 0px;
}

.bg-content {
    width: 100%;
    height: 100%;
    background-image: url('../pics/splash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.logo-wrapper {
    width: 100%;
    height: 170px;
    margin-top: 50px;
}

.logo-div {
    background-image: url(../pics/logo.jpg);
    width: 100%;
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.title-div {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.title-color {
    color: #fff;
}

.login-div {
    margin-top: 200px;
    width: 100%;
    position: relative;
}

.login-btn-div {
    width: 165px;
    margin: auto;
}

.btn-color {
    color: #dd4b39 !important;
    font-size: 24px;
}

.back-button > .back-text > .default-title {
    display:none;
}

.back-button > .back-text > .previous-title {
    display:none;
}

.has-subheader {
    top: 95px;
}

.has-menu-subheader {
    top: 200px;
}

.channel-subheader {
    position: absolute;
    top: 44px;
    height: auto;
    background: #fff;
    z-index: 99;
    width: 100%;
}

.has-channel-subheader {
    top: 82px;
}

.tab-pane{
    display: none;
}

.tab-pane-active {
    display: block;
}

.more-menu {
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
    z-index: 99;
    font-size: 30px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    border-radius: 25px;
    max-width: 50px;
    max-height: 50px;
    top: 10px;
}

.card .item-avatar > img:first-child {
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
    left: 50px;
}

.card .item-avatar {
    padding-left: 110px;
}

.card .item-avatar:first-child > img:first-child {
    max-width: 70px;
    max-height: 70px;
    border-radius: 35px;
    left: 15px;
}

.card .item-avatar:first-child {
    padding-top: 24px;
    padding-left: 110px;
    height: 90px;
}

.card, .list-inset {
    margin: 0px;
}

.channel-list > .list {
    margin: 10px 16px 5px;
}

.channel-list > .list > .item {
    padding: 10px 10px 15px;
    border-width: 0px;
    border-bottom: 1px solid;
}

.new-channel {
    margin: 0px 10px;
    font-size: 20px;
}

.new-channel > span {
    font-size: 16px;
}

.item.item-stable {
    background-color: #fff;
}

.item {
    border-width: 0px !important;
    border-bottom: 1px solid #dedede !important;
    margin: 0px !important;
}

.group-list > .item {
    border-width: 0px !important;
    border-bottom: 0px solid #dedede !important;
    margin: 0px !important;
}

.item-image {
    border-radius: 5px !important;
    background: violet;
}

.img-self-div {
    width: 120px;
    height: 120px;
    border-radius: 161px;
    background-image: url('../pics/dhiman.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}

.card {
    box-shadow: none;
}


.app-icon {
    width:70px;
    height:70px;
    position:relative;
    margin:auto;
    border:1px solid;
    background: #28a54c;
    text-align: center;
    border-radius: 5px;
    text-align: center;
    line-height: 70px;
    font-size: 38px;
    color: #fff;
}



.app-div {
    height: 115px;
    display: inline-block;
    position: relative;
    margin-top: 30px;
}

.app-title {
    position: relative;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}




/****** Chat Starts Here ***********/

.bar-footer {
  overflow: visible !important;
}

.bar-footer textarea {
  resize: none;
  height: 25px;
}

/* fixes an ios bug bear */
button.ion-android-send {
  padding-top: 2px;
}

/* add this to keep your footer buttons down 
at the bottom as the textarea resizes */
.footer-btn-wrap {
  position: relative; 
  height: 100%; 
  width: 50px; 
  top: 7px;
}

.footer-btn {
  position: absolute !important; 
  bottom: 0;
}

img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
}

img.profile-pic.left {
  left: 10px;
}

img.profile-pic.right {
  right: 10px;
}

.ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle;
}

.message {
  font-size: 14px;
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.bar.item-input-inset .item-input-wrapper input {
  width: 100% !important;
}

.message-wrapper {
  position: relative;
}

.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;
}

.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  margin-left: 55px;
}

.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}

.user-messages-top-icon {
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: 5px;
}

.msg-header-username {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

input, textarea, .item-input, .item-input-wrapper {
  /*background-color: #f4f4f4 !important;*/
}

.bold {
  font-weight: bold;
}

.cf {
  clear: both !important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

/* loading */
.loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader .ion-loading-c {
  font-size: 64px;
}


/*.item-input {
    height: 30px;
}*/

.item-select select {
    max-width: 100%;
}

.channel-item {
    padding: 8px !important;
}

.attach-icon {
    font-size: 30px;
}

.customeModel{
    width: 90% !important; 
    max-height: 70% !important;
    height: auto;
    top: 15% !important; 
    left: 5% !important; 
    right: 5% !important; 
    bottom: 15% !important;
    min-height: 10%;
}

.google-drive, .dropbox, .camera, .drive {
    background-position: top center; 
    background-size:90px;
    height: 150px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    margin-top: 30px;
}

.google-drive {
    background-image: url('../pics/google-drive.png'); 
}

.dropbox {
    background-image: url('../pics/dropbox.png'); 
}

.camera {
    background-image: url('../pics/camera.png');
}

.drive {
    background-image: url('../pics/drive.png'); 
}

.none {
    display: none;
}

.block {
    display: block;
}

.command-pane {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background: #fff;
    border-top: 1px solid #ccc;
    z-index: 999;
}

.content-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #222;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}

.command-list{
    padding: 5px 10px;
    width: 100%;
}

.command-item {
    border-width: 0px;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
}

@media (max-width: 680px) {
    .active .modal-backdrop-bg {
    opacity: .5;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    }
}


.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
 }

 .float-button .height_fix {
   margin-top: 100%;
 }

 .float-button .content {
   position: absolute;
   left: 0;
   top: 50%;
   height: 100%;
   width: 100%;
   text-align: center;
   margin-top: -20px; /* Note, this must be half the font size */
   color: $light;
}

#lockPattern {
    margin: auto;
}

.patt-wrap {
    width: 310px;
    margin: auto;
}

.margin-div {
    width: 50px;
}





/***** Polls Css starts here *******/

.completed {
    color: #28a54c;
}

.poll {
    margin-top :20px;
}

.poll > .list {
    margin: 50px 10px;
}

.poll > .list > .item-radio {
    margin-bottom: 20px;
}


.greenTX {
    color: #28a54c;
}