<ion-view id="userMessagesView" cache-view="false" view-title="<div class='msg-header-username'>{{toUser.username}}</div>">
    
    <div class="channel-subheader bar-stable" ng-class="{none:type == 2}">
        <div style="position:relative;display:inline-block;width:100%;">
            <ion-list>
        <div>
          <ion-item class="item-stable channel-item"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
            &nbsp;
            {{selectedChannel.title}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="channel in group.channels"
                    ng-show="isGroupShown(group)" ng-click="selectList(channel, group)">
              {{channel.title}}
              <p>{{group.description}}</p>
          </ion-item>
        </div>
      </ion-list>
        </div>
    </div>

    <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
            <i class="icon ion-loading-c"></i>
        </div>
    </div>

    <ion-content has-bouncing="true" class="has-header has-footer" ng-class="{'has-channel-subheader':type == 2}" delegate-handle="userMessageScroll">

        <div ng-repeat="message in messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">

            <div ng-if="user._id !== message.userId">

                <img ng-click="viewProfile(message)" class="profile-pic left" ng-src="{{toUser.pic}}" onerror="onProfilePicError(this)" />

                <div class="chat-bubble left" ng-if="message.type === 1">

                    <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                    </div>

                    <div class="message-detail">
                        <span ng-click="viewProfile(message)" class="bold">{{toUser.username}}</span>,
                        <span am-time-ago="message.date"></span>
                    </div>

                </div>
                
                <div class="chat-bubble right" ng-if="message.type === 2">

                    <a class="item item-icon-rigt" style="background: transparent;"><i class="icon ion-stats-bars"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Poll</div>

                </div>
                
                <div class="chat-bubble left" ng-if="message.type === 3">

                    <a class="item item-icon-rigt" style="background: transparent;"><i class="icon ion-android-document"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Document</div>

                </div>
                
                <div class="chat-bubble left" ng-if="message.type === 4">

                    <a class="item item-icon-rigt" style="background: transparent;"><i class="icon ion-ios-alarm"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Reminder</div>

                </div>
                
                <div class="chat-bubble left" ng-if="message.type === 5">

                    <a class="item item-icon-rigt" style="background: transparent;"><i class="icon ion-android-checkmark-circle"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Todo</div>

                </div>
                
                <div class="chat-bubble left" ng-if="message.type === 6">

                    <a class="item item-icon-rigt" style="background: transparent;"><i class="icon ion-android-document"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Notes</div>

                </div>
                
            </div>

            <div ng-if="user._id === message.userId">

               <img ng-click="viewProfile(message)" class="profile-pic right" ng-src="{{user.pic}}" onerror="onProfilePicError(this)" />

                <div class="chat-bubble right" ng-if="message.type === 1">

                    <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                    </div>

                    <div class="message-detail">
                        <span ng-click="viewProfile(message)" class="bold">{{user.username}}</span>, 
                        <span am-time-ago="message.date"></span>
                    </div>

                </div>
                
                <div class="chat-bubble right" ng-if="message.type === 2">

                    <a class="item item-icon-left" style="background: transparent;"><i class="icon ion-stats-bars"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Poll</div>
                </div>
                
                <div class="chat-bubble right" ng-if="message.type === 3">

                    <a class="item item-icon-left" style="background: transparent;"><i class="icon ion-android-document"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Document</div>

                </div>
                
                <div class="chat-bubble right" ng-if="message.type === 4">

                    <a class="item item-icon-left" style="background: transparent;"><i class="icon ion-ios-alarm"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Reminder</div>

                </div>
                
                <div class="chat-bubble right" ng-if="message.type === 5">

                    <a class="item item-icon-left" style="background: transparent;"><i class="icon ion-android-checkmark-circle"></i>
                        <div class="message" ng-bind-html="message.text | nl2br" autolinker>
                        </div>
                    </a>
                    <div class="col-100" style="margin-top: 5px; text-align: center;">View Todo</div>

                </div>

            </div>

            <div class="cf"></div>

        </div>
        
        <div class="command-pane">
            <div class="list command-list">
                <li class="item command-item" ng-repeat="command in data.commands" ng-click="selectCommand(command)">
                    <span>{{command.title}}</span> <span>{{command.subTitle}}</span>
                    <p style="font-size:12px;">{{command.category}}</p>
                </li>
            </div>
        </div>
        <div class="content-mask none"></div>
    </ion-content>

    <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <i class="button button-icon ion-ios-plus-outline attach-icon" ng-click="openModal()"></i>
            <label class="item-input-wrapper">    
                
                <textarea id="chat-box" ng-model="input.message" value="" style="width: 100%;" placeholder="Start typing here..." required minlength="1" maxlength="1500" msd-elastic ng-change="search()" ng-model="data.search"></textarea>
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!input.message || input.message === ''">
                </button>
            </div>
        </ion-footer-bar>
    </form>

</ion-view>