<ion-view view-title="Dashboard">
    <div class="tabs-striped tabs-top tabs-background-balanced tabs-color-light">
        <div class="tabs">
            <a class="tab-item" ng-class="{active:mainTab===1}" ng-click="mainTab = mainTab==1 ? a : 1">
                <i class="icon ion-android-alarm-clock"></i>
                Test
            </a>
            <a class="tab-item" ng-class="{active:mainTab===2}" ng-click="mainTab = mainTab==2 ? a : 2">
                <i class="icon ion-android-contacts"></i>
                Favorites
            </a>
            <a class="tab-item" ng-class="{active:mainTab===3}" ng-click="mainTab = mainTab==3 ? a : 3">
                <i class="icon ion-android-contact"></i>
                Settings
            </a>
            <a class="tab-item" ng-class="{active:mainTab===4}" ng-click="mainTab = mainTab==4 ? a : 4">
                <i class="icon ion-android-apps"></i>
                Settings
            </a>
        </div>
    </div>

    <ion-content class="has-header has-subheader">
        <div class="tab-content">
            <div class="tab-pane" ng-class="{'tab-pane-active':mainTab===1}">
                <div class="gap gap-medium"></div>
                <tab-recent></tab-recent>  
            </div>
            
            <div class="tab-pane" ng-class="{'tab-pane-active':mainTab===2}">
                <div class="gap gap-medium"></div>
                <tab-groups></tab-groups>  
            </div>
            
            <div class="tab-pane" ng-class="{'tab-pane-active':mainTab===3}">
                <div class="gap gap-medium"></div>
                <tab-contacts></tab-contacts>  
            </div>
            
            <div class="tab-pane" ng-class="{'tab-pane-active':mainTab===4}">
                <div class="gap gap-medium"></div>
                <tab-folders></tab-folders>  
            </div>
        </div>
        
    </ion-content>
    
    
    <ion-floating-button ng-class="{'none':(mainTab===1 || mainTab===4)}" click="newEvent()" has-footer="false" button-color="#28a54c" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
</ion-view>
     
