<ion-view hide-nav-bar="log_pattern">
    <ion-content class='center'>
        <div class="logo-wrapper">
            <div class="logo-div">

            </div>
            <div class="title-div">
                Team Messanger
            </div>
        </div>
        
        <div id='lockPattern' class='pattern-holder patt-holder'></div>
    </ion-content>
</ion-view>