<ion-view hide-nav-bar="true">
    
    <ion-content padding="true">
        
        <div class="logo-wrapper">
            <div class="logo-div">

            </div>
            <div class="title-div">
                Team Messanger
            </div>
        </div>
        
        <div class="login-div">
            <div class="login-btn-div">
                <a class="button icon-right ion-social-googleplus button-balanced btn-color" ng-click="LoginUser()"><span class="title-color">Login with  </span> </a>
            </div>
        </div>
        
    </ion-content>
</ion-view>
     
