<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar align-title="left" class="bar-balanced">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
        <div class="more-menu" ng-click="openPopover($event)">
            <button class="button button-icon ion-android-more-vertical" style="font-size: 30px;">
        </button>
            
        </div>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-balanced" style="height:200px;">
        <div class="row" style="position:relative;display:inline-block;">
            <div class="col-50 col-offset-25 img-self-div">
                

            </div>
            <div class="col" style="text-align: center;font-size: 20px;">
                Dhiman Sutradhar
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="has-menu-subheader">
      <ion-list>
        <ion-item menu-close ng-click="Profile()">
            <i class="icon ion-android-contact"></i>
            Profile
        </ion-item>
        <ion-item menu-close href="#/app/search">
            <i class="icon ion-android-document"></i>
            My Documents
        </ion-item>
        <ion-item menu-close href="#/app/browse">
            <i class="icon ion-android-list"></i>
            My Notes
        </ion-item>
        <ion-item menu-close ng-click="Logout()">
            <i class="icon ion-power"></i>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
