<ion-modal-view class="customeModel">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">New Contact</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        
        <div class="main-menu block">
            <div class="row responsive-xs">
                <div class="col col-50 camera" ng-click="OpenCamera()">
                    <p style="position:absolute;bottom:10px;width:100%;text-align:center">Camera</p>
                </div>
                <div class="col col-50 drive" ng-click="OpenDrive()">
                    <p style="position:absolute;bottom:10px;width:100%;text-align:center">Drive</p>
                </div>
            </div>
            <div class="row responsive-xs" ng-click="OpenDetail()">
                <div class="col col-50 google-drive">
                    <p style="position:absolute;bottom:10px;width:100%;text-align:center">Google Drive</p>
                </div>
                <div class="col col-50 dropbox" ng-click="OpenDetail()">
                    <p style="position:absolute;bottom:10px;width:100%;text-align:center">Dropbox</p>
                </div>
            </div>
        </div>
        <div class="sub-menu none">
            <ion-list>
                <ion-item type="item-text-wrap" class="item-avatar" >
                    <img src="pics/folders.png"/>
                    Young Clay
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" >
                    <img src="pics/folders.png"/>
                    UNEE
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" >
                    <img src="pics/folders.png"/>
                    Release Build
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" >
                    <img src="pics/folders.png"/>
                    Tutorial
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" ng-click="shareFile('Dhiman_sutradhar.doc')">
                    <img src="pics/word.png"/>
                    Dhiman_sutradhar.doc
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" ng-click="shareFile('Architecture_diagram.pdf')">
                    <img src="pics/pdf.ico"/>
                    Architecture_diagram.pdf
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" ng-click="shareFile('Jenkins_setup.pdf')">
                    <img src="pics/pdf.ico"/>
                    Jenkins_setup.pdf
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" ng-click="shareFile('APIgateway.jpg')">
                    <img src="pics/image.png"/>
                    APIgateway.jpg
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" ng-click="shareFile('Young_Clay_API.docx')">
                    <img src="pics/word.png"/>
                    Young_Clay_API.docx
                </ion-item>
                <ion-item type="item-text-wrap" class="item-avatar" ng-click="shareFile('data_model_yc.jpg')">
                    <img src="pics/image.png"/>
                    data_model_yc.jpg
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-modal-view>
