<ion-view view-title="New Poll">
 
    <ion-content has-bouncing="true" class="has-header">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Title?</span>
                <input type="text" ng-model="note.title" placeholder="Enter Title" />
            </label>
        </div>

        <div text-angular="text-angular" class="ng-editor" name="htmlcontent" ng-model="note.htmlcontent" ta-disabled='disabled'></div>
        
        <div class="col-80 col-offset-10">
            <button class="button button-block button-balanced" ng-click="AddNote()">
                Save Note
            </button>
        </div>
        
    </ion-content>

</ion-view>