<ion-view view-title="New Poll">
 
    <ion-content has-bouncing="true" class="has-header">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Question?</span>
                <input type="text" ng-model="poll.question" placeholder="Enter Question" />
            </label>
            
            <label class="item item-input item-select">
                <div class="input-label">
                    Number Of Options
                </div>
                <select ng-model="count" ng-change="increseCnt()">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </label>
        </div>
        
        <div class="list" ng-repeat="option in options" style="padding: 0px 10px;">
            <label class="item item-input">
                <input type="text" ng-model="option.optionText" placeholder="Option {{$index}}">
            </label>
            
        </div>
        
        <button class="button button-block button-positive" ng-click="AddPoll()">
            Save
        </button>
        
    </ion-content>

</ion-view>