<ion-view view-title="New Todo">
 
    <ion-content has-bouncing="true" class="has-header" padding="true">
        <div class="list" style="margin-top: 75px;margin-bottom: 50px;">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Todo</span>
                <input type="text" ng-model="todo.title" placeholder="Enter Todo" />
            </label>
            
            
        </div>
        
        <button class="button button-block button-balanced" ng-click="addTodo()">
            Save
        </button>
        
    </ion-content>

</ion-view>