<ion-view view-title="Notes">
    
    <ion-content has-bouncing="true" class="has-header">
        
        <div class="list card">
            <a class="item item-icon-left" ng-repeat="note in notes" ng-click="selectNote($index)"><i class="icon ion-document-text greenTX"></i>
                {{note.title}}
                <!--<p>{{poll.votes}} votes</p>-->
            </a>
        </div>
    </ion-content>
    <ion-floating-button click="newNote()" has-footer="false" button-color="#28a54c" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
</ion-view>