<ion-view view-title="Note Detail">
    
    <ion-content has-bouncing="true" class="has-header" padding="false">
        
        <div class="card" style="margin-bottom: 30px;">
            <div class="item item-text-wrap" style="border-width: 0px;">
                {{note.title}}
            </div>
        </div>
        
        <div class="card" style="margin: 0px 10px;border:1px solid #dedede;">
            <div class="item item-text-wrap" ng-bind-html="note.htmlcontent" style="border-width: 0px !important;">
            </div>
        </div>
        
        
    </ion-content>
</ion-view>