<ion-view view-title="Polls">
    
    <ion-content has-bouncing="true" class="has-header">
        
        <div class="list card">
            <a class="item item-icon-left" ng-repeat="poll in polls" ng-click="selectPoll($index)"><i class="icon ion-android-checkmark-circle" ng-class="{completed:poll.completed===true}"></i>
                {{poll.question}}
                <p>{{poll.votes}} votes</p>
            </a>
        </div>
    </ion-content>
    <ion-floating-button click="newPoll()" has-footer="false" button-color="#28a54c" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
</ion-view>