<ion-view view-title="Poll Detail">
    
    <ion-content has-bouncing="true" class="has-header">
        
        <div class="card">
            <div class="item item-text-wrap">
                {{poll.question}}
            </div>
        </div>
        
        <ion-list class="poll">
            <ion-radio ng-model="choice" ng-repeat="option in poll.options" ng-checked="(poll.answer == option.id)" ng-value="{{option.id}}"  ng-disabled="!poll.isAnswered">{{option.optionText}}</ion-radio>
        </ion-list>
        
    </ion-content>
</ion-view>