<ion-view view-title="Set Lock">
    <ion-content class='center'>
        <div class="margin-div"></div>
        <div class='list card' style="margin-top:50px;">
            <div class='item item-icon-left'>
                <i class='icon ion-alert assertive'></i>
                <h2 class='assertive'>Please set your login pattern!</h2>
            </div>
        </div>
        <div class="margin-div"></div>
        <div id='lockPattern' class='pattern-holder patt-holder'></div>
    </ion-content>
</ion-view>