<div title="Folders" class="">
    <!--<div class="list card">
        
        <a class="item item-icon-left" href="#/app/todos"><i class="icon ion-android-checkmark-circle"></i>Todos</a>
        <a class="item item-icon-left" href="#/app/reminders"><i class="icon ion-ios-alarm"></i>Reminders</a>
        <a class="item item-icon-left" href="#/app/notes"><i class="icon ion-document-text"></i>Notes</a>
        <a class="item item-icon-left" href="#/app/polls"><i class="icon ion-stats-bars"></i>Polls</a>
    </div>-->
    
    <div class="main-menu block">
            <div class="row responsive-xs">
                <div class="col col-33 app-div" ng-click="OpenDetail('#/app/todos')">
                    <div class="app-icon">
                        <i class="icon ion-android-checkmark-circle"></i>
                    </div>
                    <p class="app-title">Todos</p>
                </div>
                <div class="col col-33 app-div" ng-click="OpenDetail('#/app/reminders')">
                    <div class="app-icon">
                        <i class="icon ion-ios-alarm"></i>
                    </div>
                    <p class="app-title">Reminders</p>
                </div>
                <div class="col col-33 app-div" ng-click="OpenDetail('#/app/notes')">
                    <div class="app-icon"><i class="icon ion-document-text"></i></div>
                    <p class="app-title">Notes</p>
                </div>
            </div>
            <div class="row responsive-xs" ng-click="OpenDetail('#/app/polls')">
                <div class="col col-33 app-div">
                    <div class="app-icon"><i class="icon ion-stats-bars"></i></div>
                    <p class="app-title">Polls</p>
                </div>
            </div>
        </div>
</div>
