<div title="Contacts" class="">
    <ion-list>
        <ion-item ng-repeat="employee in employees" type="item-text-wrap" class="item-avatar" ng-click="OpenChat('', employee.id, 2)">
            <img style="border-radius: 5px;" src="pics/{{employee.pic}}"/>
            {{employee.firstName}} {{employee.lastName}}
            <p style="font-size: 13px;margin-top: 5px;">{{employee.designation}}</p>
        </ion-item>
    </ion-list>
</div>