<div title="Groups" class="">
    <ion-list>
        <div class="group-list" ng-repeat="group in groups" style="border-bottom: 1px solid #dedede;">
          <ion-item class="item-stable item-avatar"
                    ng-click="toggleGroup(group)"
                    ng-class="{active: isGroupShown(group)}">
              <img class="item-image" src="pics/group.svg"/>
            &nbsp;
                Group {{group.teamName}}
                <p style="font-size: 13px;margin-left: 10px;margin-top: 5px;">{{group.channels.length}} Channels</p>
          </ion-item>
            <ion-list class="channel-list" ng-class="{none: !isGroupShown(group)}">
              <ion-item class="item-accordion"
                        ng-repeat="channel in group.channels"
                        ng-show="isGroupShown(group)" ng-click="OpenChat(group.id, channel.id, 1)">
                  {{channel.title}}
                  <p>{{group.description}}</p>
              </ion-item>
            </ion-list>
            
            <button class="new-channel button button-clear button-icon ion-ios-plus-outline button-balanced" ng-class="{none: !isGroupShown(group)}">
                <span>Create New Channel</span>
            </button>
            
            
            
        </div>
      </ion-list>
</div>