<div title="Recent" class="">
    <div class="list card">
        
        <a class="item item-icon-left" ng-click="OpenChat('3', 'ycCha1', 1)"><i class="icon ion-chatboxes greenTX"></i>
            Young Clay #general
            <p style="font-size:12px;">Dhiman has shared file</p>
        </a>
        <a class="item item-icon-left" ng-click="OpenChat('', '1', 2)"><i class="icon ion-chatboxes greenTX"></i>
            Akshay Valsa
            <p style="font-size:12px;">Hi, How are you?</p>
        </a>
        <a class="item item-icon-left" ng-click="OpenChat('', '2', 2)"><i class="icon ion-chatboxes greenTX"></i>
            Ali Asger Saifuddin
            <p style="font-size:12px;">Need to discuss on the KRA</p>
        </a>
        <a class="item item-icon-left" ng-click="OpenChat('3', 'ycCha3', 1)"><i class="icon ion-chatboxes greenTX"></i>
            Young Clay #server
            <p style="font-size:12px;">Updated server with latest version of code</p>
        </a>
    
    </div>
</div>