<ion-tabs class="tabs-top tabs-icon-top">


    <!-- Pets Tab -->
    <ion-tab title="Recent" icon="icon ion-home" href="#/app/tab/recent">
        <ion-nav-view name="tab-recent"></ion-nav-view>
    </ion-tab>
    
    <!-- Pets Tab -->
    <ion-tab title="Groups" icon="icon ion-home" href="#/app/tab/group">
        <ion-nav-view name="tab-group"></ion-nav-view>
    </ion-tab>


    <!-- Adopt Tab -->
    <ion-tab title="Contacts" icon="icon ion-heart" href="#/app/tab/contact">
        <ion-nav-view name="tab-contact"></ion-nav-view>
    </ion-tab>


    <!-- About Tab -->
    <ion-tab title="Folders" icon="icon ion-gear-b" href="#/app/tab/folders">
        <ion-nav-view name="tab-folders"></ion-nav-view>
    </ion-tab>


</ion-tabs>