<ion-view view-title="Todos">
    
    <ion-content has-bouncing="true" class="has-header">
        
        <div class="list card">
            <a class="item item-icon-left" ng-repeat="todo in todos" ng-click="completeTodo($index)"><i class="icon ion-android-checkmark-circle" ng-class="{completed:todo.completed===true}"></i>
                {{todo.title}}
            </a>
        </div>
    </ion-content>
    <ion-floating-button click="openNewTodo()" has-footer="false" button-color="#28a54c" icon="ion-plus" icon-color="#fff">
    </ion-floating-button>
</ion-view>